body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to bottom, #89CFF0, #D8BFD8);
    color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services-container {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

.service {
    margin: 0 20px; /* Add margin between services */
    text-align: center; /* Center text within each service */
    flex: 1 1 200px; /* Allow the service boxes to grow and shrink */
    max-width: 300px; /* Set a maximum width for each service box */
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }

 h2 {
    text-align: center;
 }

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to bottom, #89CFF0, #D8BFD8);
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
  
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
  
  
input, select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex; 
}
  

button {
    padding: 0.8rem 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-group {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    margin-bottom: 10px; /* Space between form groups */
}

.form-group label {
    margin-right: 10px; /* Space between label and input */
    font-weight: bold; /* Optional: make label bold */
}

.form-group input {
    padding: 5px; /* Padding inside the input */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
}

img {
    width: 300px;  /* Set the width */
    height: auto;  /* Maintain aspect ratio */
}